# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Django
db.sqlite3
*.log
staticfiles/
media/

# Environment variables
.env

# Testing and coverage
.pytest_cache/
.coverage
htmlcov/

# Editors and operating systems
.vscode/
.idea/
.DS_Store
Thumbs.db